.blogHeadlineContainer {
    padding-top: 40px;
    padding-bottom: 15px;
}

.blogHeadline {
    color: #2669BA;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.blogHeroSpanContainer {
    padding-top: 40px;
    padding-bottom: 80px;
}

.blogHeroSpan {
    display: flex;
    justify-content: center;
    font-weight: 405;
    font-size: large;
}

.blogHeroImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.blogButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.linkWithoutUnderline {
    text-decoration: none;
  }

  .cardWrapper {
    margin-bottom: 25px;
  }