* {
    background: #E9FBFF;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #2669BA;
}

.heroP {
    text-align: center;
}

.blueButtonContainer {
    display: flex;
    justify-content: center;
}

.blueButton {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius:10px;
    color: white;
    background-color: #2669BA;
    box-shadow: none;
    /* display: flex; */
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    * {
        background: #E9FBFF;
        margin: 10px;
    }
    
    .blueButton::before {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(100%);
        transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
        z-index: -1;
    }
    
    .blueButton:hover,
    .blueButton:focus {
        transform: scale(1.1);
        background-color: #24589A;
    }
    
    .blueButton:hover::before,
    .blueButton:focus::before {
        transform: translateY(0);
        background-color: rgba(255, 255, 255, 0);
    }
}
    
    .heroImage {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
    }

.blueButton::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(100%);
    transition: transform 0.1s ease-in-out;
    z-index: -1;
}

.blueButton:hover,
.blueButton:focus {
    transform: scale(1.1);
}

.blueButton:hover::before,
.blueButton:focus::before {
    transform: translateY(0);
}

.missionH1 {
    text-align: center;
    color: #2669BA;
}

.missionP {
    text-align: center;
}

.missionImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;
}

.howH1 {
    text-align: center;
    color: #2669BA;
}

.howImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;
}
