.landingHeadlineContainer {
    padding-top: 40px;
    padding-bottom: 15px;
}

.landingHeadline {
    color: #2669BA;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.heroPContainer {
    padding-bottom: 15px;
}

.heroP {
    display: flex;
    justify-content: center;
    font-weight: 405;
    font-size: large;
}

.blueButtonContainer {
    display: flex;
    justify-content: center;
}

.blueButton {
    margin: 10px;
    padding: 9px 38px;
    font-size: 20px;
    border: 0;
    border-radius:20px;
    color: white;
    background-color: #2669BA;
    box-shadow: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
    
.heroImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.blueButton::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(100%);
    transition: transform 0.1s ease-in-out;
    z-index: -1;
}

.blueButton:hover,
.blueButton:focus {
    transform: scale(1.1);
}

.blueButton:hover::before,
.blueButton:focus::before {
    transform: translateY(0);
}

.ourMission {
    display: flex;
    flex-direction: column;
}

.missionH1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #2669BA;
    font-weight: bold;
    font-size: xx-large;
}

.missionPContainer {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 auto;
  }
  
  .missionP {
    font-weight: 405;
    width: 100%;
    font-size: large;
  }

.missionImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;
}

.howH1 {
    text-align: center;
    color: #2669BA;
    padding-bottom: 20px;
}

.howImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;
    padding-bottom: 90px;
}

.cardWrapper {
    width: 100%;
    max-width: 345px;
    margin-bottom: 70px;
}

.emptyLine {
    display: block;
    margin-bottom: 1em; /* Adjust the value to control the spacing */
  }