.landingHeadlineContainer {
    padding-top: 40px;
    padding-bottom: 20px;
}

.landingHeadline {
    color: #2669BA;
    font-weight: bold;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.heroPContainer {
    padding-top: 10px;
    padding-bottom: 20px;
}

.heroP {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.blueButtonContainer {
    display: flex;
    justify-content: center;
}

.blueButton {
    margin: 10px;
    padding: 9px 38px;
    font-size: 20px;
    border: 0;
    border-radius:20px;
    color: white;
    background-color: #2669BA;
    box-shadow: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
    
.heroImage {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.blueButton::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(100%);
    transition: transform 0.1s ease-in-out;
    z-index: -1;
}

.blueButton:hover,
.blueButton:focus {
    transform: scale(1.1);
}

.blueButton:hover::before,
.blueButton:focus::before {
    transform: translateY(0);
}
.missionH1Container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
    max-width: 925px;
}

.missionH1 {
    color: #2669BA;
    font-weight: bold;
    font-size: 45px;
}

.missionPLandingContainer {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 625px;
}

.missionPLanding {
    font-size: 19px;
}

.missionImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.howH1 {
    text-align: center;
    color: #2669BA;
    padding-bottom: 20px;
    font-size: 45px;
}

.howImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 10px;
    padding-bottom: 90px;
}

.cardWrapper {
    width: 100%;
    max-width: 345px;
    margin-bottom: 70px;
}

.emptyLine {
    display: block;
    margin-bottom: 1em;
  }

  .mainC {
    width: 100%;
  }

  .landingCenterinator {
    width: 100%;
    margin: 0 auto;
  }

  /* if we have enough time: add media queries for landingCenterinator!! */
  /* inluding this for missionP: 
  padding-left: 220px; */