body{
    background-color: #E9FBFF;
    ;
}
.mapcontainer{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    color:#2669BA;
    margin-top: 30px;
    margin-bottom: 30px;
}

.addnewlocation-container{
    display: flex;
    justify-content: center;
}
.addnewlocation-btn{
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;
}