body {
  background-color: #e9fbff;
}
.mapcontainer {
  display: flex;
  justify-content: center;
}
h2 {
  display: flex;
  justify-content: center;
  color: #2669ba;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .addnewlocation-container {
  display: flex;
  justify-content: center;
}
.addnewlocation-btn {
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
} */
.button-container {
  display: flex;
  flex-direction: row;
}

.google-link {
  text-decoration: none;
  color: #2669ba;
}
